
body {
    background-color:#ffecda;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    margin: 0;
}

gear-icon {
    font-size: 40px;
    color: #df720c;
    margin-left: 5px;
}


main {
    display: flex;
    flex-direction: row;
    flex: auto; 
    width: 100%;
}


article {
    flex: 2; 
    overflow-y: auto; 
}


aside {
    flex: 1; 
    overflow-y: auto; 
}


header, footer {
    background-color: #ea882b;
    padding: 10px;
    text-align: center;
}
